<!DOCTYPE html>
<html lang="en">
    <title>introduction </title>

<body style="text-align: center; margin-top: 100px;">
	<form action="/addsong/" method="get" enctype="multiple/format-data">

           <!-- put the name of the album title-->
           <div class="form-group">
            <input  class="form-control" name="song_type" placeholder="Your song type">
           </div>&nbsp;&nbsp;&nbsp;&nbsp;

           <div class="form-group">
            <input  class="form-control" name="song_title" placeholder="Your song title">
           </div>&nbsp;&nbsp;&nbsp;&nbsp;


          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Add to Songs">
         </div>
    </form>
</body>
</html>